{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
					<img style="width: 260; height: 72px" src="./norment_logo_utekst.jpg"></img>
			</div>
			<br>
			<br>
			<div class="hero">
					<p class="large">
							Use this service to access or host git repositories. But remember to keep a copy!<br>
							Create an account yourself.<br>
							Contact me, if there are any problems (flo.krull@gmail.com).
					</p>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
