3rdparty/*
!3rdparty/Makefile
!3rdparty/make_*.mk
!3rdparty/bootstrap
etc/lighttpd.conf
example/tuls_config/www/css/bootstrap.min.css*
example/tuls_config/gitea/conf/*
run
services
var/cron/*
var/exit/*
var/log/*
var/www
