a.card {
  text-decoration: none;
  color: #333;
}

.drop-shadow {
  -webkit-filter: drop-shadow(0px 3px 10px rgba(0,0,0,.8));
  filter: drop-shadow(0px 0px 10px rgba(0,0,0,.8));
}

.img-asp {
  width: auto;
  height: 30vh;
}

.object-fit {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.status {
  height: 14px;
  width: 14px;
  display: inline-block;
  margin-left: 3px;
}

.status-running {
  border-radius: 50%;
  background-color: rgb(68, 179, 46);
}

.status-stopped-ok {
  border-radius: 0%;
  background-color: rgb(68, 179, 46);
}

.status-stopped-error {
  border-radius: 0%;
  background-color: rgb(235, 0, 0);
}

.status-unknown {
  border-radius: 0%;
  background-color: rgb(150, 150, 150);
}




 /* Tooltip container */
 .ttip {
  position: relative;
  display: inline-block;
}



:focus {outline:none;}
::-moz-focus-inner {border:0;}



/* Tooltip text */
.ttip .tooltiptext {
  visibility: hidden;
  min-width: 160px;
  max-width: 420px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  font-size: small;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 125%;
  /* margin-left: -60px; */

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.ttip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} 