# command to run
EXECSTART="make -C ${TULS_BASEDIR}/opt/gitea run PATH=${TULS_BASEDIR}/3rdparty/git/bin:$PATH"

## when to start service; used for crontab
TIMER="* * * * *"

## nice - set CPU priority
# low/high/medium
NICE="medium"

## ionice - set IO priority
# low/high/medium
IONICE="medium"


