# Pet PID files (inside TMPDIR) 
# They might get cleaned otherwise (systemd-tmpfiles-clean)

EXECSTART="touch ${TULS_BASEDIR}/run/pids/*"

## when to start service; used for crontab
TIMER="* * * * *"

## nice - set CPU priority
# low/high/medium
NICE="medium"

## ionice - set IO priority
# low/high/medium
IONICE="medium"


