# command to run
EXECSTART="DOCROOT=${TULS_BASEDIR}/var/www/ PORT=8080 ${TULS_BASEDIR}/3rdparty/lighttpd/sbin/lighttpd -D -f ${TULS_BASEDIR}/etc/lighttpd.conf"

## when to start service; used for crontab
TIMER="* * * * *"

## nice - set CPU priority
# low/high/medium
NICE="medium"

## ionice - set IO priority
# low/high/medium
IONICE="medium"


