{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
					<img style="width: 156; height: 180px" src="tsd-logo-smallcopy.png"></img>
			</div>
			<br>
			<br>
			<div class="hero">
					<p class="large">
							Use this service to access or host git repositories. But remember to keep a copy!<br>
							Create an account yourself.<br>
					</p>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
