EXECSTART="sleep 10; echo sleep10false; false"
TIMER="* * * * *"
NICE="-n 0"
IONICE="-c 2 -n 3"

## nice
# high: -n 0
# low:  -n 19

## ionice
# Best-effort high: -c 2 -n 0
# Best-effort low:  -c 2 -n 7
# Idle: -c 3
